body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: aquamarine;
}

.class1 {
    border: 1px solid aquamarine;
    border-radius: 25px;
    background-color:rgb(64, 214, 164);
    margin: 10px;
}

h1 {
    color: rgba(000, 000, 000, 0.7)
}

h3 {
    color: white;
}

